.arrow-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #000; /* Arrow color */
    transition: transform 0.3s;
}

.arrow.up {
    transform: rotate(180deg);
}

.arrow.down {
    transform: rotate(0deg);
}

.arrow-container span {
    margin-left: 8px; /* Space between arrow and text */
}

.img-preview {
    max-width: 250px; /* Limits the image width */
    max-height: 250px; /* Limits the image height */
    border: 1px solid #ddd; /* Optional: Adds a border around the image */
    border-radius: 5px; /* Optional: Adds rounded corners */
    margin-top: 10px; /* Adds some space above the image */
}